.chat-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(54, 55, 57) rgba(68, 69, 72, 0.7);

    .search{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 15px 15px 0;

        img{
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
}

    .search-bar{
        display: flex;
        flex: 1;
        background-color: rgba(68, 69, 72, 0.7);
        border-radius: 8px;
        padding: 4px;

        input{
            padding-left: 4px;
            flex: 1;
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
        }
    }

    .recent-chats{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .add-user-div{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(68, 69, 72);
        padding: 20px;
        gap: 10px;
        width: 300px;

        .search-user{
            display: flex;
            gap: 10px;

            .search-field{
                flex: 2;
            }

            input{
                /* background-color: transparent; */
                border: none;
                background-color: rgba(114, 115, 119, 0.473);
                outline: none;
                padding: 5px;
                color: white;
            }

            button{
                flex: 1;
            }
        }
        .user-searchlist{

            .user-item{
                display: flex;
                gap: 10px;

                .user-details{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 12px;
                    flex: 2;

                    .img-container{
                        height: 30px;
                        width: 30px;
                        
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }

                .btn{
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
}